.course
  %h1.text-center
    Negotiating for contractors
  %h2.text-center
    The training course to get you that rate increase on your next extension. 
  %br
  %h4.text-center
    [Next course: Saturday 10th January, Central London - 
    %a{href:"signup"}
      ready to join us? get your place now
    ]
  %img.pull-right{:src => "http://www.smallnetconsulting.co.uk/wp-content/uploads/2011/11/shutterstock_35261911.jpg", :width => "220"}/
  %br
  %p
    You want to charge a higher rates, but you don't know where to start. Maybe you negotiated yourself the 'market rate' and you tell yourself that your client can't pay more (hint: they probably can).
  %p
    When a contract extension comes up, rather than negotiating yourself a better deal, you take the easy option -
    = succeed ";" do
      %em you accept the same terms
  %p
    Most of us have spent years perfecting our technical skills. We know how to deliver a great user experience, a killer app, or solid code. However, many of us fall down when it comes to business skills like negotiation. 
    Some of us are blissfully ignorant, others realise we are only 'ok' at it.  
    Some of us even hate it and yet haven't even spent a single hour learning the 
    skills of negotiation. That's right, nothing! 
    And yet we expect to get the best deal for ourselves when we come up 
    against a trained negotiator.
  %h4
    %a{href:"#signup"}
      [I'm already convinced and can't be bothered to read the rest. I want to grab my place on the course now]
  %h3 
    What would negotiating a better deal mean for you?
  %p
    As a contractor, we find ourselves in a negotiation situation fairly regularly. It's worth investing in our negotiation skills simply because we do it so often. Combine this with how much a small change in day rate multiplies up it's a no brainer.
  %p
    Some of us know we are bad at negotiating and hate getting into the money discussion at all - we're glad when it's all over and we can get on with the job. This course aims to give you the tools to mak it go smoothly but still get a desirable outcome.
  %p
    Others think they are great at negotiating, some of possibly are! But do they know exactly what they are doing? or could they have got an even better deal? This course will show you what you are doing right and what you are doing wrong.
  
  
  .row.testimonials
    .col-md-10.col-md-offset-1
      %blockquote
        %p.clients-words 
        When I first heard about this course, I thought why do I want someone to teach me skills that I think I already know?
        I have done my fair share of haggling and my rates are above the market average, 
        but having explored the course further I found it was going to cover selling 'skills' as easily as 'products' and that it was going to approach the subject from a different angle, so I though I would give it a go. What surprised me about the course was how adaptable the topics were to each of individual situations and how it can not only improve your day rate and success rate, but also teach you how to come away from negotiations feeling good about yourself. If I were still in a team leader/pre-sales consultant I would recommend my team go on this course, now as an independent professional services consultant I would recommend all my customers go on the course, since as the tutor says it's a better game all round if you all know the rules and are playing the same game.
        %br
        %span.clients-name.text-primary 
        — Steve D.
        %img.img-circle.img-thumbnail{:src => "https://media.licdn.com/mpr/mpr/shrink_40_40/p/3/000/002/3f9/0c4b9f2.jpg"}/
        
  
  %p If you haven't realised yet, the client gets to hire a professional negotiator (the recruiter) and you are expected to do your own negotiations.
  %h3 Worried that you might annoy the client?
  %p 
    Good! A great negotiator creates a win-win situation, not a win-lose. 
    It is not about beating the other party, 
    it is about making both sides win. 
    On this course you'll also learn about the 'super win win' - 
    this is the one you should always aim for! 
    You can create win-wins and be that great negotiator.
  
  %h3 Can I really learn this? 
  %p
    You don't have to be a natural. It is a skill you can learn! It doesn't involve crazy levels of confidence, just a plan, a framework to follow (I know you love rules) and a little courage.
  
  %h3 Isn't this a bit expensive?
  %p
    It's not. It's a one off cost, but you get to keep the skills for life! You will recoup the cost of the course several times over. Not just on your contracts but in other areas of life too, like large purchases or when you buy/sell your next car.
  
  %h3 What do I get for the money?
  %p
    The main thing you get is obviously the full day's course itself. Led by Alan McCarthy. Alan has 35 years of negotiation experience and tailors the training to the group of people in the room. It's all interactive.
  %ul
    %li
      1 day training course
    %li
      A copy of Alan's Advanced Negotiation Techniques book
    %li
      The training materials used on the day
    %li
      A full 100% money back guarantee
  
  %h3
    Why is it on a Saturday?
  %p
    This is a bonus for you... since time is money. As a contractor you most likely have monday to friday clients. If we ran it on any of those days, you'd need to take a day off your contract to do that. The overwhelming feedback we got is that Saturday is the best day to run it. It's good for us too.
  
  %h3 Tell me more about the guarantee!
  %p
    It's quite simple. If you don't make back the cost of the course within the next 6 months when using these techniques, you can have your money back. That's right, you win, either way!
  %p
    At the first training course, Alan offered the students this guarantee. We were also students on this course, that's why we are confident enough to also back that guarantee! Because we now know the techniques and know that they work, we're so confident that we can offer a 100% money-back guarantee.
  %a{name:"signup"}
  %p
    packages