.course
  %h1.text-center
    Negotiating for contractors
  %h2.text-center
    The 
    %b 1 day training course 
    that will get you a rate increase on your next contract extension. 
  %br
  %h4.text-center
    [Next course: Saturday 10th January, Central London]
    %br
    %a{href:"#signup"}
      Already ready to join us? take me straight to the price.
    
  %img.pull-right{:src => "http://www.smallnetconsulting.co.uk/wp-content/uploads/2011/11/shutterstock_35261911.jpg", :width => "220"}/
  %br
  %p
    You want to be better at negotiating and charge higher rates, but you don't know where to start. Maybe you negotiated yourself the 'market rate' and you tell yourself that your client can't pay more.
  %p
    When a contract extension comes up, rather than negotiating yourself a better deal, you take the easy option -
    %em 
      %b you accept the same terms as last time.
  %p
    Most of us have spent years perfecting our technical skills. We know how to deliver a great user experience, a killer app, and solid code. However, many of us fall down when it comes to business skills like negotiation. 
    Some of us are blissfully ignorant, others think they are 'ok' at it.  
    Some of us even hate negotiations altogether and would prefer if they didn't exist. Some of us haven't even spent a single hour learning the basics. That's right, nothing! 
    And yet we expect to get the best deal for ourselves when coming up against a trained negotiator (e.g. recruiter or HR).
  %p This course is here to change that, to give you a simple framework for negotiating. This is the second iteration of the course, the first one took place on 22nd November 2014 and was a huge success. The attendees (including the 2 organisers) are still raving about it, saying it pays for itself many times over.
  .course
  %h1.text-center
    Negotiating for contractors
  %h2.text-center
    The 
    %b 1 day training course 
    that will get you a rate increase on your next contract extension. 
  %br
  %h4.text-center
    [Next course: Saturday 10th January, Central London - 
    %a{href:"#signup"}
      ready to join us? get your place now
    ]
  %img.pull-right{:src => "http://www.smallnetconsulting.co.uk/wp-content/uploads/2011/11/shutterstock_35261911.jpg", :width => "220"}/
  %br
  %p
    You want to be better at negotiating and charge higher rates, but you don't know where to start. Maybe you negotiated yourself the 'market rate' and you tell yourself that your client can't pay more.
  %p
    When a contract extension comes up, rather than negotiating yourself a better deal, you take the easy option -
    %em 
      %b you accept the same terms as last time.
  %p
    Most of us have spent years perfecting our technical skills. We know how to deliver a great user experience, a killer app, and solid code. However, many of us fall down when it comes to business skills like negotiation. 
    Some of us are blissfully ignorant, others think they are 'ok' at it.  
    Some of us even hate negotiations altogether and would prefer if they didn't exist. Some of us haven't even spent a single hour learning the basics. That's right, nothing! 
    And yet we expect to get the best deal for ourselves when coming up against a trained negotiator (e.g. recruiter or HR).
  %p This course is here to change that, to give you a simple framework for negotiating. This is the second iteration of the course, the first one took place on 22nd November 2014 and was a huge success. The attendees (including the 2 organisers) are still raving about it, saying it pays for itself many time over.
  
  .row.testimonials
    .col-md-10.col-md-offset-1
      %blockquote
        %p.clients-words 
        "As a contractor for 15 years I wish I had gone on this years ago. If it had been about nodejs or hypermedia then it would have filled a room 3 times as big. Having said that I learned more about how to maximise my earning potential from this course than on any technical course I have been on."
        
        %img.img-circle.img-thumbnail{:src => "https://lh4.googleusercontent.com/-zbotrU6PnSY/AAAAAAAAAAI/AAAAAAAAAAA/Fs2b5ekjsZM/photo.jpg"}
        %span.clients-name.text-primary 
          %a{href:"https://plus.google.com/113938645129358001158/posts"} — Eldon F. (Software Architect - Sense|making Solutions)
  
  
  %h4
    %a{href:"#signup"}
      [I'm already convinced and I want to grab my place on the course now, before reading the rest]
  %h3 
    What would negotiating a better deal mean for you?
  %p
    As a contractor, we find ourselves in a negotiation situation fairly regularly. How much would a tiny rate increase multiply up to over the course of your contract? You only get one shot to get it right, and it applies to each day of your contract. Otherwise you will probably wait until your next extension, or new client. It's worth investing in negotiation skills simply because a few simple techniques go a long way.
  %p
    Some of us know we are bad at negotiating and hate getting into the money discussion at all - we're glad when it's all over and we can get on with the job. This course gives you the tools to become a good negotiator and to make a negotiation enjoyable while getting yourself a desirable outcome (and still keep everyone happy).
  %h3 But I'm already a good negotiator!
  %p
    Some people think they are great at negotiating, some of them quite possibly are! But do they know exactly what they are doing? or did they leave better deals on the table because they unknowingly gave something away for free?  This course will show you what you are doing right and what you are doing wrong so that a even a great negotiator can reach that next level of greatness.
  
  .row.testimonials
    .col-md-10.col-md-offset-1
      %blockquote
        %p.clients-words 
        "When I first heard about this course, I thought why do I want someone to teach me skills that I think I already know?
        I have done my fair share of haggling and my rates are above the market average, 
        but having explored the course further I found it was going to cover selling 'skills' as easily as 'products' and that it was going to approach the subject from a different angle, so I though I would give it a go. What surprised me about the course was how adaptable the topics were to each of individual situations and how it can not only improve your day rate and success rate, but also teach you how to come away from negotiations feeling good about yourself. If I were still in a team leader/pre-sales consultant I would recommend my team go on this course, now as an independent professional services consultant 
        I would recommend all my customers go on the course; as Alan says, it's a better game all round if you all know the rules and are playing the same game."
        %br
        
        %img.img-circle.img-thumbnail{:src => "https://media.licdn.com/mpr/mpr/shrink_40_40/p/3/000/002/3f9/0c4b9f2.jpg"}
        %span.clients-name.text-primary 
          %a{href:"https://www.linkedin.com/profile/view?id=12495043&authType=NAME_SEARCH&authToken=3wGn&locale=en_US&trk=tyah2&trkInfo=tarId%3A1417619287097%2Ctas%3Asteve%20davis%2Cidx%3A1-1-1"}
            — Steve D. (Juniper IP consultant)
        
  
  %h3 Worried that you might annoy the client?
  %p 
    Good! A great negotiator creates a win-win situation, not a win-lose. 
    It is not about beating the other party, 
    it is about making both sides win. 
    On this course you'll also learn about the 'super win win' - 
    this is the one you should always aim for! 
    You can create win-wins and be that great negotiator.
  
  .well.well-lg
    %h3 What exactly will I learn on the course?
    %p
      You will learn how to be a better negotiator. You will learn to easily apply a framework to negotiations so that you aren't just making it up as you go along. You will get yourself better deals by using these techniques. 
      %b You will learn:
    %ul
      %li The 10 rules of negotiation
      %li The 5 phases
      %li The 4 Mantras
      %li The super win-win
      %li The Salami and the Jellyfish (I know...weird, but very very cool!)

  
  %h3 Can I really learn this? 
  %p
    You don't have to be a natural. It is a skill you can learn! It doesn't involve crazy levels of confidence, just a plan, a framework to follow (I know you love rules) and a little courage.
  
  .well.well-lg
    %h3 What's included with the course?
    %p
      The main thing you get is obviously the full day's course itself. Led by Alan McCarthy. Alan has 35 years of negotiation experience and tailors the training to the group of people in the room. It's all interactive.
    %ul
      %li 1 full day's group training
      %li Practical and immersive sessions
      %li A copy of Alan's Advanced Negotiation Techniques book
      %li The training materials used on the day
      %li A full 100% money back guarantee
  %h3 Who is the trainer?
  %h4 Alan McCarthy
  =image_tag "AlanMcCarthy.jpg"
  %p
    The course is delivered by Alan McCarthy from the Resource Development Centre (RDC). Bringing with him years of experience in both the negotiation/sales arena and training environments. Alan has conducted over 530 assignments in 30 countries.
    Alan's unique style gets the message across, invloves everyone, and comes from years of real world experience. 
  %p
    Here is a seak preview of Alan's 10 Rules of Negotiation
    <iframe width="853" height="480" src="//www.youtube.com/embed/oy0MD2nsZVs?rel=0" frameborder="0" allowfullscreen></iframe>
  

  .row.testimonials
    .col-md-10.col-md-offset-1
      %blockquote
        %p.clients-words 
        "Alan's engaging and entertaining style made the day fly by. 
        Everything we were taught was both mindblowing but epiphany level 
        obvious once he'd told us. 
        Whenever anyone had any doubts, he was quick to explore and rectify these doubts. 
        I'm not sure I've experienced a better trainer in all of my career.”
        %br
        %img.img-circle.img-thumbnail{:src => "https://media.licdn.com/mpr/mpr/shrink_60_60/p/3/005/075/3b5/3bc6624.jpg"}
        %span.clients-name.text-primary 
          %a{href:"http://uk.linkedin.com/in/majikandy"} - Andy Davis. (Founder, nujob)
  
     
  %h3 How much is it?
  %p
    There are two prices, the full price and the 
    %b 
      early-bird price. 
    There is only a limited number of early bird spots, so if you want one, 
    %a{href:"#signup"} secure your place now before it's too late. 
  
  .row.text-center
    
    .packages.col-md-8.col-md-offset-2
      %h3
        The package includes
      %p 
        %b 
          %u 1 full day
        in-person training
      %p 
        %b 
          %u 1 copy of 
        Advanced Negotiation Techniques book
      %p 
        %b 
          %u 6 months 
        free membership of the Negotiator Academy 
      %p 
        Full price
      .strike-price
        &pound;389 
        %span{style:"font-size:16px"} 
          %i + VAT
      
      %p Early bird price
      .limited-time
        For a limited time only
      .early-bird-price
        &pound;289
        %br
        %span{class:"vat"}
          %i + VAT
      %br
      .buy
        %a{href:"http://www.ticketbase.com/events/negotiating-for-contractors-jan-2015", class:"btn btn-lg btn-warning"} 
          I want the early bird price.
     
      =image_tag "guarantee_red.png"
       
  .clear   
  
  %h3 Is it a bit expensive for me?
  %p
    When you think about the reward, it's effectively free. The skills you learn can be applied in many contexts in addition to your contracts. You will recoup the cost of the course several times over. Whilst you are paying out for the course, it is like a risk vs reward, except 
    %b we'll eliminate the risk for you by offering a full money back guarantee.
  .row
    .col-md-8.col-md-offset-2
      .guarantee-image
      .guarantee
        %h3 Tell me more about the 100% money-back guarantee!
        %p
          The guarantee is simple. If you don't make back the cost of the course within the next 6 months when using these techniques, you can have your money back. That's right, you win, either way!
        %p
          At the first training course, Alan offered the students this guarantee. We were also students on this course, that's why we are confident enough to also back that guarantee! Because we now know the techniques and know that they work, we're so confident that we can offer a 100% money-back guarantee.
  
  
  %h3 I'm a seasoned contractor, is this right for me?
  %p 
    Yes, the scenarios are specifically tailored to the contractor market, it doesn't matter how long you've been one. We know and understand this market because (as the organisers) we are in this market too.
  %p 
    Every contract extension is a negotiation point, but how often do we get offered an extension without negotiating becuase it is the easiest option? Or do we just talk ourselves out of it before even having the conversation?
  %p 
    This is rule 2 - don't negotiate with yourself

  %h3 I'm permanent, can I still attend?
  %p 
    Of course you can! We're not going to elitist about it. In fact, if you are thinking about going contracting, this is absolutely perfect for you. You will build a foundation that most contractors don't do until years down the line, and some never do. 

  %h3 I intend to stay permanent, is it for me?
  %p 
    Although it is tailored towards contracting, on a permanent position you actually have way more bargaining chips than just salary. For example, can you negotiate salary, more holiday days, a bigger training budget, a better laptop, a performance bonus, childcare support - the list goes on. 
  %p 
    One smart guy even negotiated a monthly lunch with the CEO of his startup. 
    It sounds like nothing, but the learning gained from that is immeasurable.
  %p 
    These factors, only give you more to play with on a deal, not less - so while this is "for contractors", the principles behind it are obviously the same and you are most welcome to attend.
  
  %h3 Why is it on a Saturday?
  %p
    To help you out... since time is money. As a contractor you most likely have 
    Monday to Friday contracts. If we ran it on any of those days, 
    you'd need to take a day off your contract to do that. 
    Whilst it would still be worth it, we understand that it's better not to 
    lose a day's pay. The overwhelming feedback we've had is that Saturday 
    is the best day to run it. It's good for us because we work Monday to Friday too
    (not to mention the option for drinks afterwards). 
  
  %h3 Any other questions about the course?
  %p
    If there is something I missed or any other concern about the course, please email me on 
    %a{href:"mailto:andy@nujob.co.uk"}
      andy@nujob.co.uk
  
  .row.testimonials
    .col-md-10.col-md-offset-1
      %blockquote
        %p.clients-words 
        "Like anything else, you need a system to you work on and improve. In 18 years of business, I have learned some of the things taught in this course. This course saved me from having to wait another 18 years for the rest”
        %br
        %img.img-circle.img-thumbnail{:src => "https://media.licdn.com/mpr/mpr/shrink_40_40/p/2/005/02e/358/2180025.jpg"}
        %span.clients-name.text-primary 
          %a{href:"http://uk.linkedin.com/in/georgemiguel"} - George M. (Java Developer and PM)
  
  
  %a{name:"signup"}
  .row.text-center
    .packages.col-md-8.col-md-offset-2
      %h3
        The package includes
      %p 
        %b 
          %u 1 full day
        in-person training
      %p 
        %b 
          %u 1 copy of 
        Advanced Negotiation Techniques book
      %p 
        %b 
          %u 6 months 
        free membership of the Negotiator Academy 
      %p 
        Full price
      .strike-price
        &pound;389 
        %span{style:"font-size:16px"} 
          %i + VAT
      
      %p Early bird price
      .limited-time
        For a limited time only
      .early-bird-price
        &pound;289
        %br
        %span{class:"vat"}
          %i + VAT
      %br
      .buy
        %a{href:"http://www.ticketbase.com/events/negotiating-for-contractors-jan-2015", class:"btn btn-lg btn-warning"} 
          I want the early bird price.
     
      =image_tag "guarantee_red.png"
      .guarantee-text-small.pull-right
        %h3 Guarantee reminder!
        %p
          If you don't make back the cost of the course within 6 months when using these techniques, we'll give you your money back.
        
  .clear
  %p.text-center
    %a{href:"http://www.nujob.co.uk/devs"}
      No Thanks. I always negotiate the best deals. I get the best daily rates, best discounts and always sell items for the higher than I bought them for.     
  