.blog-item
  %p.font-38= item['title']
  %p
    %span.icon.icon-clock
    %span.text-grey= item['date_added'].to_date.strftime("%b %d,%Y")
  .font-20
    = item['postbody'].html_safe
  %br
  - if index < @blog_items.size - 1
    %hr
