%h1 Here's what nujob is all about.
%p Hey there! I'm Dermot and this is Andy, the founders of nujob. If you've asked yourself:
%ul.about-questions
  %li How can I ask for a payrise without giving an ultimatum?
  %li How do I get on the best projects?
  %li How can I get a job using new technologies that I learned on a side project?
  %li How can I tell if this company is the right move?
  %li How can I stand out in a sea full of software developers?
%p Then you've come to the right place.
%h2#here-s-how-nujob-helps-you-get-ahead- Here's how nujob helps you get ahead!
%p
  %strong We believe there is a smarter way to build up a career in software development. Too many of us leave it to chance without really understanding how to take control of our career choices. If you want to get ahead in todays overcrowded world of software development you must become a master at networking, sales, marketing and negotiation.
%p How can you find the time to learn all this while holding down a full time job... whilst keeping up with technologies... while raising a family.
%p Instead of scouring the web for dozens of career related articles and wasting time listening to recruitment experts who know nothing about  software development...
%p Subscribe to nujob (it's free), and you'll get tactics and strategies that are PROVEN, enabling the best developers to get the jobs they want on their terms.

= render :partial => 'sign_up_panel'

%p The best part is we will cut through the fluff showing you exactly what is working for the stand out software developers.
%h2#introducing-nujob Introducing nujob
%p Nujob is a growing community of software developers interested in approaching IT recruitment and careers in novel ways that work. The majority of the software developers we have spoken to don't know how to take control of their careers.
%p Going from project to project waiting for the dream job that will keep you satisfied seems to be the norm. Or even worse, dreaming of turning your side project into a business, then realising that you don't know how.
%p Andy and Dermot have been asking and thinking the same thing for a long time. That is why they are doing something about it. They learn and test to see what works then share the findings for anyone to do.
%p Don't worry, Andy and Dermot know you're busy so they produce articles filled with actionable tips that will get you ahead. What's the best way to get access to all the BEST free training material? Sign up to nujob below.

= render :partial => 'sign_up_panel'

%h2#about-andy-and-dermot About Andy and Dermot 
%p nujob was founded by Andy Davis and Dermot Kilroy. They've been developing software for a combined total of 20+ years. Both have worked for household name companies in the UK. A couple of years ago Andy and Dermot were looking for new contracts. They came to the realisation that the process is demoralising, time consuming and inefficient...
%p So, they set themselves the mission of improving IT recruitment. In the beginning they believed there must be a better way for companies to recruit software talent. So they focused on internal recruiters, explaining that recruitment is all about building relationships. Guess what they found out, internal recruiters are overworked, too busy trying to keep their head above water to take the long term view.
%p Then they started to notice that some software developers were getting projects in a different way. Noticing that companies were willing to forgo the interview to hire these guys and girls. They also noticed that companies were willing to pay a higher rate for these software developers.
%p So they started to take a closer look at what these software developers are doing differently. Testing any findings for themselves. Andy stumbled upon and landed a project offering rates at 30% higher than average. Great for Andy, he's on a higher rate but how do you keep the same rate for the next gig? After all, when you talk to a recruiter they will tell you all the reasons why that rate is impossible else where. Well, using the techniques and strategies we'd noticed in the special ones, he did it again...
%p
  %strong Andy negotiated the same rate with a new company.
%p Dermot started to coach fellow contractors in negotiating their rate. One particular colleague of Dermot's negotiated  a 23% pay rise. Best of all, the company are happy as well because he spelled out the value he brought.
%p That was the convincer, this stuff works. That is why Andy and Dermot are hell bent on sharing the insights they have gained. They will succeed in their mission to improve IT recruitment, by revealing to candidates:
%ul
  %li Negotiation techniques that get a win-win
  %li Selling without selling your soul
  %li Marketing strategies that work for software developers
  %li Networking that means you don't use recruiters
%p
  %strong Andy and Dermot believe that sofware developers that are in control of their career, build better software. Why? Because they are more confident in their decisions and know exactly what a good deal looks like. There is no room for what if when you are in control.
%p If you want to learn how to build a satisfying software development career, all you have to do is enter your email below and click "sign me up"

= render :partial => 'sign_up_panel'
