!!!
%html
  %body#top{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar"}
    / Nav button
    %a#toggle.closed
      %i.icon-reorder
     
    :javascript
      $(document).ready(function() {
        $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
          disableOn: 0,
          type: 'iframe',
          mainClass: 'mfp-fade',
          removalDelay: 160,
          preloader: false,
          fixedContentPos: false
        });
      });
    


    / Home Page
    #home.page.color-1
      .inner-page
        %h2.page-headline.large Hire passionate developers for your team without wasting time sifting through CVs.
        
      .row-fluid.inner-page 
        .span6.pull-right
          / Video
          .btn-container.figurette
            %img{alt: "Play video", src: "/assets/NuJob_HD_Poster-3df31e10d05bdd7e96d46ea8475f3296.png"}/
            %a.lightbox.iframe.btn-play{allowfullscreen: "", frameborder: "0", height: "315", href: "https://vimeo.com/78293639", width: "420"}
              %i.icon-play
        .span6
          %ul
            %strong
              %h4{style: "font-weight: 300"} Benefit from
            %li
              %i.icon-ok
              the collective network of your team
            %li
              %i.icon-ok
              a single powerful view of all hiring sources
            %li
              %i.icon-ok
              the whole team efficiently vetting candidates
            %li
              %i.icon-ok
              owning the contact list (no recruiter premiums)
            %li
              %i.icon-ok
              quality over quantity of developers
          %br/
          %a{href: "#features"}
            %button.btn.scroll{style: "background-color:orange;padding: 0px 20px 40px 20px; margin-left: 10px;", type: "submit"}
              Tell me more
              %i.icon-caret-down
    / Features
    #features.page.color-4
      .inner-page
        %h2.page-headline Recruitment was broken, we've fixed it.
      .inner-page.row-fluid
        %ul.features.list-inline
          %li
            %h3
              %i.icon-cog
              Real developers
            %p We are not trying to be LinkedIn or Facebook. NuJob is about managing real relationships and having a network of real potential developers for current and future roles in your team, it is not a social hangout with status updates or fascinating wall postings.
          %li
            %h3
              %i.icon-heart
              Lead generation
            %p We will match you through LinkedIn, Github, Meetup.com, Stack Overflow and Twitter. All in one place, all with one dashboard, all with one goal - matching the right developers with the right jobs. You won't have to sift through tens of CVs to find the right developer.
          %li
            %h3
              %i.icon-tablet
              Managed process
            %p Know clearly at a glance all of the candidates and which stage in your process they are at. Eg Coding challenge, Phone interview, Face to Face, Made an offer etc. See everything in one place and make the process as easy as it always should have been.
      .row-fluid.inner-page
        .span6
          %img{alt: "pop in and see", src: "/assets/NuJob_HD_Screen-a995aecf81fc039a7c0ffa30da909899.png"}/
        .span6
          %h3 Come in and see how NuJob will improve the way you hire developers.
          %p.lead Your one stop dashboard for hiring developers to work in your team
          %ul.list-wide
            %li
              %i.icon-check
              Save time
            %li
              %i.icon-check
              Hire better developers
            %li
              %i.icon-check
              Capture a real network, not a social one
            %li
              %i.icon-check
              Manage your hiring pipeline with ease
          %a{href: "/signup"}
            %button.btn.btn-centered{style: "background:orange;padding: 0px 20px 40px 20px; width: auto", type: "submit"} Get early access now
    
    #pricing.page.blue-theme{style: "padding-left: 20px; padding-right: 20px; line-height: 20px"}
      .container.text-center
        %h4.heading{style: "padding-top: -20px;"} Start your 60 day trial today
        %p.lead.sub-title No long term contracts. 100% money back guarantee.
        .plans.row.text-center
          .span2
            %h5.plan-name Consultant
            %h2.plan-price{style: "color: #444 ; margin: 10px 0; padding: 0 0 0 0;  display:block !important"} £99
            %span.muted per month
            %ul.unstyled.plan-features{style: "font-size : 14px;"}
              %li 1 hiring manager
              %li 3 open roles
              %li &#8734; hires
            %a.btn.btn-block.btn-large.btn-success{style: "line-height : 20px;" , href: "http://app.nujob.co.uk/?plan=consultant"} Choose Plan
          .span2.preferred-plan
            %h5.plan-name Team
            %h2.plan-price{style: "color: #444 ; margin: 10px 0; padding: 0 0 0 0;  display:block !important"} £299
            %span.muted per month
            %ul.unstyled.plan-features{style: "font-size : 14px; "}
              %li 1 hiring manager
              %li 5 team members
              %li 10 open roles
              %li &#8734; hires
            %a.btn.btn-block.btn-large.btn-success{style: "line-height : 20px;" , href: "http://app.nujob.co.uk/?plan=team"} Choose Plan
          .span2
            %h5.plan-name Programme Manager
            %h2.plan-price{style: "color: #444 ; margin: 10px 0; padding: 0 0 0 0;  display:block !important"} £499
            %span.muted per month
            %ul.unstyled.plan-features{style: "font-size : 14px;"}
              %li 3 hiring managers
              %li 40 team members
              %li 30 open roles
              %li &#8734; hires
            %a.btn.btn-block.btn-large.btn-success{style: "line-height : 20px;" , href: "http://app.nujob.co.uk/?plan=Programme%20Manager"} Choose Plan
          .span2
            %h5.plan-name HR Department
            %h2.plan-price{style: "color: #444 ; margin: 10px 0; padding: 0 0 0 0;  display:block !important"} £1599
            %span.muted per month
            %ul.unstyled.plan-features{style: "font-size : 14px;"}
              %li &#8734; hiring managers
              %li &#8734; team members
              %li &#8734; open roles
              %li &#8734; hires
            %a.btn.btn-block.btn-large.btn-success{style: "line-height : 20px;" , href: "http://app.nujob.co.uk/?plan=HR%20Department"} Choose Plan
        %p.lead.sub-title{style: "padding-bottom:30px;"} All plans give access to the full leads network and the full CRM capability.