-meta title: "Sign me up to the nujob community" 


.col-md-8.col-md-offset-2
  %h2 Discover the secret to a successful IT career
  %p Sign up to the nujob developer community for free, we will keep you up to date on ways to build the best career in software...
  %p ...You'll see why some developers are successful no matter what their skill level or experience.
= render :partial => 'sign_up_panel'
