%head
  :css
    h1{color: #000000; font-size: 20px; padding: 20px}
    body { text-align: center; padding-top: 20px }
    footer { position:absolute; bottom: 0; width: 100%  }
    ul[class="nav"] > li > a { display:none; }
%header.navbar.navbar-fixed-top
  .inner-page
    %a{href: "http://www.nujob.co.uk/"}
      %img{style:"float:left;height:40px;margin:0;", src: "/assets/Logo_D-419f74cf1977cdd483ab80fa91caee9b.png"}/
=render :inline => $res

    
    