%head
  :css
    .navbar #nav ul li a { display : none}
    h1{color: #000000; font-size: 20px; padding: 20px}
    body { font-family: Georgia, 'Times New Roman', Times, serif; padding-top: 20px }
    .page {padding-top:40px;}
    .pagination {text-transform: uppercase;letter-spacing: 1px;}
    .pagination .previous_page.disabled { display:none; }
    .pagination .next_page.disabled { display:none; }
    .pagination .next_page {text-align:right;display:block}
    .page-headline h1{color: #000000;font-size:38px; font-weight:normal;} 
    .page-headline a, a:hover {color: #000000;} 
    .span8 a {color: #6B2AAB;}
    .headline {font-size:28px; line-height:1.367em;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; margin-bottom: 1.2em;}
    .headline a{color: #000000;} a:hover{color:#6B2AAB; }
    .format p {font-size:15px; ine-height:1.6em; margin-bottom:1.6em; font-weight:normal; }
    .paginate a {color: #6B2AAB; }
%header.navbar.navbar-fixed-top
  .inner-page
    %a{href: "http://www.nujob.co.uk/"}
      %img{style:"float:left;height:40px;margin:0;", src: "/assets/Logo_D-419f74cf1977cdd483ab80fa91caee9b.png"}/

.page
  .inner-page
    .page-headline
      %a{href: "http://www.nujob.co.uk/blog"}
        %h1  NuJob Blog
  .row-fluid.inner-page    
    .span8
      - for post in @page_results
        .headline
          = link_to post['title'],blog_path(:id => post['url_title'])
        .format
          %p= truncate( strip_tags(post['postbody']), length:600)
          %p= link_to "[read more...]",blog_path(:id => post['url_title']) 
.paginate
  = will_paginate @page_results,:page_links => false,:previous_label => '&laquo;&laquo; Newer Posts',:next_label => 'Older Posts &raquo;&raquo;'

