%head
  :css
    h1{color: #000000; font-size: 20px; padding: 20px}
    body { font-family: Georgia, 'Times New Roman', Times, serif; padding-top: 20px }
    footer {  bottom: 0; width: 100%  }
    ul[class="nav"] > li > a { display:none; }
    .page-headline a{color: #000000;font-size:38px; font-weight:normal;} 
    .page-headline a:hover{color:#000000; }
    .span8 a {color: #6B2AAB;}
    .headline {font-size:28px; line-height:1.367em;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; margin-bottom: 1.2em;}
    .headline a{color: #000000;} a:hover{color:#6B2AAB; }
    .format p {font-size:15px; ine-height:1.6em; margin-bottom:1.6em; font-weight:normal; }
    
%header.navbar.navbar-fixed-top
  .inner-page
    %a{href: "http://www.nujob.co.uk/"}
      %img{style:"float:left;height:40px;margin:0;", src: "/assets/Logo_D-419f74cf1977cdd483ab80fa91caee9b.png"}/
.page
  .inner-page
    .page-headline
      %a{href: "http://localhost:3000/blog"}Welcome to Nujob Blog
  .row-fluid.inner-page    
    .span8
      .headline
        = $res['title']
      .format
        %p=  $res['postbody'].html_safe
           
