@import "bootstrap/variables";
@import "bootstrap/mixins";

@mixin font_and_line_height($some-number) {
  font-size: $some-number;
  line-height: 150%;
  margin-bottom: 5px;
}
body {
  font-family: 'Roboto', serif;
  font-size: 16px;
  line-height: 130%;
}
.clear {
  clear: both;
}
.w-410{
  width: 410px;
}
.w-550{
  width: 550px;
}
.w-680{
  width: 680px;
}
.w-1340{
  width: 1340px;
}
.w-260{
  width: 260px!important;
}
.w-full{
  width: 100%;
}
.ph-0{
  padding-left: 0px;
  padding-right: 0px
}
.pb-15{
  padding-bottom: 15px;
}
.pb-60{
  padding-bottom: 60px;
}
.navbar-custom{
  background-color: #fff;
  border: none;
  margin-bottom: 0;
  min-height: 100px
}
.pl-0{
  padding-left: 0!important;
}
.pl-100{
  padding-left: 100px;
}
.pl-115{
  padding-left: 115px;
}
.pr-0{
  padding-right: 0!important;
}
.pr-10{
  padding-right: 10px;
}
.pr-70{
  padding-right: 70px;
}
.pr-200{
  padding-right: 200px;
}
#header{
  button{
    margin-top: 32px;
  }
  ul{
    position: relative;
  }
  li{
    margin-right: 50px;
  }
  #top-blue{
    -moz-transition: 0.3s left,right ease,0.3s width ease;
    -ms-transition: 0.3s left,right ease,0.3s width ease;
    -o-transition: 0.3s left,right ease,0.3s width ease;
    -webkit-transition: 0.3s left,right ease,0.3s width ease;
    transition: 0.3s left,right ease,0.3s width ease;
    position: absolute;
    background-color: #24B9F1;
    height: 5px;
    width: 0px;
    z-index: 1;
    left: 0px;
  }
  a{
    line-height: 100px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }
  .active > a, a:hover{
    background-color: #fff;
    color: #24B9F1
  }
}
.btn-grey{
  background-color: #333645;
  color: #fff;
}
.btn-grey:hover, .btn-grey:focus{
  background: #00aeef;
  color: #fff;
}

.main-call {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #F47838; //orange
  color: #fff;
}
.main-call:hover, .main-call:focus{
  background: #E36727;
  color: #fff;
}
.btn-blue{
  background-color: #00AEEF;
  color: #fff;
}
.btn-blue:hover, .btn-blue:focus{
  background: #33bef2;
  color: #fff;
}
.homepage-box-1{
  background-image: url(homebg1.png);
  background-repeat:repeat-y;

  h2, h3 {
    padding-left: 8%;
  }

  .benefits {
    div {
      padding-left: 5%;
    }
  }
}
.homepage-box-2{
  background-image: url(homebg2.png);
  background-repeat:repeat-y;
  padding-top: 78px;
}
@media (max-width: 3300px){
  .benefit-section {
    padding: 0% 5%;
    .another-benefit {
      float: left;
      width: 49%;
      .description {
        padding-left: 80px;
      }
    }
  }
  .happy-hire-div{
    margin: 65px 90px;
  }
  .colon-1{
    display: none !important;
  }
  .colons-div {
    width: 72px;
  }
  .bad-hire-step {
    width: 180px;
    margin-right: 5px;
    margin-left: 5px;
    .description {
      font-size: 18px;
    }
    .icon-base {
      margin: 0 auto 22px;
    }
  }
  .blog-box-1 {
    h1 {
      font-size: 30px;
      line-height: 1.2em;
    }
  }
  .blog-box-2 {
    .blog-item {
      .blog-title {
        font-weight: bold;
      }
    }
   } 
 .good-hire-div-1{
   p {
    font-size: 18px;
    line-height: 1.1em;
    padding: 10px;
    }
  }
  .good-hire-div-2{
    p {
      font-size: 18px;
      width: 65%;
      float: left;
      line-height: 1.0em;
      text-align: left;
      padding-top: 30px;
    }
    p.right {
      float: right;
    }
  }
  .div-plan{
    width: 95%;
    .col-xs-3{
      padding: 0;
    }
    .plan{
      @include make-xs-column(4);
      background-color: white;
      padding: 20px 20px 30px;
      border: 1px solid #D2D5D6;
      z-index: 0;
      left: 0;
      top: 0;
      -moz-transition: 0.3s left ease,0.3s width ease;
      -ms-transition: 0.3s left ease,0.3s width ease;
      -o-transition: 0.3s left ease,0.3s width ease;
      -webkit-transition: 0.3s left ease,0.3s width ease;
      transition: 0.3s left ease,0.3s width ease;
      span{
        vertical-align: middle;
      }
      td{
        padding-bottom: 10px;
      }
      table{
        margin: auto;
      }
    }
    .plan-first{
      margin-top:20px;
      margin-bottom:20px;
      border-bottom-left-radius:5px;
      border-top-left-radius:5px;
    }
    .plan-last{
      margin-top:20px;
      border-bottom-right-radius:5px;
      border-top-right-radius:5px;
    }
    .plan-second{
      border-bottom-left-radius:5px;
      border-radius:5px;
      .font-42{
        font-size: 60px;
      }
      .plan-title{
        #background-color: #00AEEF;
        margin: -15px -15px 0;
        padding-top: 20px;
      }
    }
  }
  .not_sure_plan {
    color: white;
  }
}
@media (min-width: 993px) and (max-width: 1300px){
  .happy-hire-div{
    margin: 15px 30px;
  }
 .good-hire-div-1{
    padding-top: 0px;
  }
  .good-hire-div-2 {
    margin-top: 30px;
    padding-top: 0px !important;
  }
  .footer {
    .contact-details{
      .phone {
        float: left;
        padding-right: 15px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .benefit-section {
    padding: 0%;
  }
  .good-hire-large-screen {
    display: none;
  }
  .good-hire-small-screen {
    display: inherit !important;
  }
  .bad-hire-step {
    width: 150px;
    margin-right: 0px;
    margin-left: 0px;
    .description {
      font-size: 16px;
    }
    .icon-base {
      margin: 0 auto 22px;
    }
  }
  .pricing-bad-hire {
      margin-bottom: 20px;
  }
  .navbar-custom{
    min-height: 0;
  }
    .blog-item {
  .blog-box-2{
      .blog-title {
        font-size: 38px;
        font-weight: bold;
      }
    }
  }
  .blog-box-1 {
    h1 {
      font-size: 30px;
      line-height: 1.2em;
    }
  }
  #header li {
    margin-right: 25px;
  }
  #header a{
    font-size:16px
  }
  .pl-100 {
    padding-left:30px;
  }
  .homepage-box-1{
    text-align:center;
  }
  .benefits{
    padding-left:20px;
  }
  .colons-div {
    width: auto;
  }
  .footer {
    height: 190px !important;
    .contact-details{
      .phone {
        float: none;
        padding-bottom: 10px;
      }
    }
  }
}
@media (max-width: 768px){
  .benefit-section {
    padding: 0;
    .another-benefit {
      float: none;
      width: 100%;
      .description {
        padding-left: 80px;
      }
    }
  }
  .pricing-box{

    background-color: black;
    padding-top: 10px !important;
    padding-bottom: 100px !important;
    .strap-line {
      line-height: 1.2em;
      margin-bottom: 30px!important;
    }
    .div-plan{
      width: 95%;
      .col-xs-3{
        padding: 0;
      }
      .plan{
        @include make-xs-column(12);
        margin-bottom: 15px;
      }
      
    }
    
  }
  #logo {
   height:65px;
  }
  .navbar-custom{
    min-height: 0;
  }
  #header a{
    line-height: 30px;
  }
  #top-blue{
    display: none;
  }
  .good-hire-large-screen {
    display: none;
  }
  .good-hire-small-screen {
    display: inherit !important;
    .good-hire-div-1 {
      font-size: 16px;
      padding-bottom: 12px;
    }
  }
  .bad-hire-step {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    .description {
      font-size: 18px;
      display: block;
      padding-right: 25%;
      padding-left: 25%;
      padding-bottom: 15px;
    }
    .icon-base {
      margin-bottom: 15px !important;
    }
  }
  .colons-div {
    display: none;
  }
  .blog-box-2 {
    .blog-item {
      .blog-title {
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
  .blog-box-1 {
    h1 {
      font-size: 20px;
      padding: 0px 7px;
    }
  }
  .pricing-vs-div{
    margin-top: 55px;
    p {
      margin-bottom: 15px;
    }
    .input-info {
      width: 100% !important;
      .div-inline {
        display: block;
        width: 100% !important;
        float: none !important;
      }
    }
    .div-vs {
      padding-right: 10px;
      .comparison-slider {
        padding-left: 30px;
      }
      .pricing-bad-hire {
        margin-bottom: 20px;
      }
    }
  }
  .footer {
    height: 190px !important;
    .contact-details{
      min-width: 250px;
      padding-top: -15px;
      .phone {
        margin-bottom: 10px;
      }
      color: white;
    }
  }
}
.ml-155{
  margin-left: 155px;
}
.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}
.mt-50{
  margin-top: 50px;
}
.mt-60{
  margin-top: 60px;
}
.mt-70{
  margin-top: 70px!important;
}
.mt-90{
  margin-top: 90px;
}
.mt-100{
  margin-top: 100px;
}
.mt-120{
  margin-top: 120px;
}
.mr-10{
  margin-right: 10px;
}
.mr-5{
  margin-right: 5px;
}
.mr-45{
  margin-right: 45px;
}
.font-15{
  @include font_and_line_height(15px);
}
.font-18{
  @include font_and_line_height(18px);
}
.font-20{
  @include font_and_line_height(20px);
}
.font-24{
  @include font_and_line_height(24px);
}
.font-32{
  @include font_and_line_height(32px);
}
.font-38{
   @include font_and_line_height(38px);
}
.font-36{
  @include font_and_line_height(36px);
}
.font-42{
  @include font_and_line_height(42px);
}
.font-white{
  color: white;
}
.icon{
  display: inline-block;
  background-position: center
}
.icon-tick{
  width: 21px;
  height: 21px;
  background: url('Tick.png') no-repeat;
  margin-bottom: -5px;
  margin-right: 10px;
}
.icon-request{
  background: url('Request.png') no-repeat;
  width: 23px;
  height: 23px;
  margin-bottom: -7px;
  margin-right: 5px;
}
.icon-base{
  background: url('Base.png') no-repeat;
  width: 84px;
  height: 84px;
  position: relative;
  padding-top: 30px;
  font-size: 32px;
  display: block;
}
.icon-bad-hire{
  background: url('Bad_Hire.png') no-repeat;
  width: 84px;
  height: 84px;
  margin: 0 auto 22px;
  display: block;
}
.icon-colon{
  background: url('Colon.png') no-repeat;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 7px;
}
.icon-small-in{
  width: 15px;
  height: 15px;
  padding-right: 25px;
  background: url('smallIn.png') no-repeat;
}
.icon-small-in:hover{
  background: url('smallInHover.png') no-repeat;
}
.icon-small-twitter{
  width: 15px;
  height: 15px;
  padding-right: 25px;
  background: url('smallTwitter.png') no-repeat;
}
.icon-small-twitter:hover{
  background: url('smallTwitterHover.png') no-repeat;
}
.icon-small-email{
  width: 15px;
  height: 15px;
  padding-right: 25px;
  background: url('smallEmail.png') no-repeat;
}
.icon-small-email:hover{
  background: url('smallEmailHover.png') no-repeat;
}
.icon-dev{
  background: url('Dev.png') no-repeat;
}
.icon-relationship{
  background: url('Relationship.png') no-repeat;
}
.icon-hand-shake{
  background: url('Hand_Shake.png') no-repeat;
}
.icon-list{
  background: url('List.png') no-repeat;
}
.icon-86{
  width: 86px;
  height: 86px;
}
.icon-happy-hire{
  background: url('Smile.png') no-repeat;
  width: 97px;
  height: 97px;
  margin: 0 auto;
}
.icon-slide-left{
  background: url('slide_left.png') no-repeat;
  width: 20px;
  height: 33px;
}
.icon-slide-left:hover{
  background: url('slide_left_hover.png') no-repeat;
}
.icon-slide-right{
  background: url('slide_right.png') no-repeat;
  width: 20px;
  height: 33px;
}
.icon-slide-right:hover{
  background: url('slide_right_hover.png') no-repeat;
}
.icon-clock{
  background: url('Clock.png') no-repeat;
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
  background-size: 20px 20px;
}
.icon-comment{
  background: url('Comment.png') no-repeat;
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 30px;
  background-size: 20px 20px;
}
.h-500{
  height: 500px;
}
.h-580{
  height: 580px;
}
.h-450{
  height: 450px;
}
.div-center{
  margin-left: auto;
  margin-right: auto;
}
.div-inline{
  display: inline-block;
}
.div-relative{
  position: relative;
}
.float-left{
  float: left;
}
.bad-hire-step{
  float: left;
  text-align: center;
  position: relative;
}
.bad-hire{
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 75px;
}
.colons-div{
  position: absolute;
  top: 33px;
  left: 150px;
}
.pt-75{
  margin-top: 75px;
}
.pt-80{
  margin-top: 80px;
}
.mb-70{
  margin-bottom: 70px!important;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-15{
  margin-bottom: 15px;
}
.text-red{
  color: red;
}
.text-blue{
  color: #00AEEF;
}
.text-grey{
  color: #535765;
}
.good-hire-div-1{
  width: 200px;
  margin: auto;
  padding-bottom: 25px;
}
.good-hire-div-2{
  font-size: 24px;
  display: inline-block;
  width: 330px;
  padding-top: 65px;
}
.happy-hire-div{
  font-size: 24px;
  color: #00AEEF;
  float: left;
  text-align: center;
}
.feedback-div{
  height: 300px;
  width: 960px;
  .icon-slide-left {
    margin-top: 120px;
  }
  .icon-slide-right {
    margin-top: -180px;
  }
  .feedback-slider {
    height: 400px;
  }
}
.feedback-div,
.feedback-list{
  .feedback-item {
    width: 480px!important;
    padding: 0 30px;
  }
}
.feedback-content {
  border: 1px solid #CCCCCC;
  position: relative;
  height: 140px;
  border-bottom:0;
  border-radius: 5px;
  padding: 20px 15px;
  text-align: left;
}
.feedback-content:before{
  content:'';
  width:79px;
  height:5px;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  position:absolute;
  bottom:0;
  left:-1px;
  border-bottom-left-radius:5px;
  top: 135px;
}
.feedback-content:after{
  content:'';
  width:312px;
  height:5px;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  position:absolute;
  bottom:0;
  right:-1px;
  border-bottom-right-radius:5px;
  top: 135px;
}
.feedback-content .feedback-arrow{
  content: '';
  height:15px;
  width:25px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  position:absolute;
  bottom:-10px;
  left:80px;
  top:132px;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.feedback-author {
  margin-top: 20px;
  text-align: left;
  .feedback-icon {
    float: left;
    margin-bottom: 10px;
  }
  .feedback-name {
    padding-top: 30px;
    font-weight: bold;
    margin-left: 150px;
    font-size: 24px;
  }
  .feedback-role {
    margin-left: 150px;
    color: #00AEEF;
  }
}
.feedback-list{
  padding-top: 80px;
  width: 960px;
  .feedback-item {
    float: left;
    list-style: none outside none;
    margin-bottom: 80px;
  }
}

.good-company{
  padding: 90px 0px;
  background-color: #F3F3F3;
}

.blue-text{
  color: #00AEEF;
}

.col-50-percent{
  width: 48%;
  float: left;
}

.col-5-percent{
  width: 20%;
  float: left;
}

.col-95-percent{
  width: 79%;
  float: left;
}

.benefit-section {
  display:none !important;
  .another-benefit {
    .title { 
      .title-text {
        font-weight: 900;
      }
    }
  }
}
.circle-image{
  width: 80px;
  height: 80px;
  padding: 20px;
  background-color: #333645;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
}

.benefits{
  text-align:left;
  color:#ccc;
}
.margin-left-30{
  margin-left: 30px;
}

.padding-top-10{
  padding-top: 10px;
}

.trial-section{
  background-color: #00AEEF;
  padding: 80px 0px;
}

.white-text{
  color: white;
}

.day-text{
  color: #96D7EF;
}

.request-trial{
  padding: 10px 30px;
  border: 3px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.footer{
  clear: both;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #333645;
  height: 170px;
  .active > a, a:hover, a:focus{
    background-color: transparent!important;
    color: #24B9F1!important;
  }

  .contact-details{
    padding-left: 15px;
    color: white;
  }
}

.icon-footer{
  background-color: white;
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-size: 24px 24px;
  background-repeat:no-repeat;
  background-position: 4px 4px;
  margin-right: 5px;
}
.icon-footer:hover{
  background-color: #919399;
}
.icon-fb{
  background-image: url("/assets/Fb.png");
}
.icon-fb:hover{
  background-image: url("/assets/Fb.png");
}

.icon-tw{
  background-image: url("/assets/Twitter.png");
}

.icon-in{
  background-image: url("/assets/In.png");
}
.icon-phone{
  background-image: url("/assets/footerPhone.png");
  margin-bottom: -11px;
}
.icon-email{
  background-image: url("/assets/footerEmail.png");
  margin-bottom: -11px;
}
.logo{
  margin-top: -25px;
}

.copyright{
  color: #777B8D;
}
.ul-footer{
  li{
    display: table-cell;
  }
}
.ul-footer > li:hover > a{
  background-color: #333645!important;
  color: #777B8D;
}

.ul-footer > li > a{
  color: white;
}

.font-14{
  font-size: 14px;
}

.has-background{
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center;
}
.testimonials-box-1{
  height: 580px;
  background-image: url(testimonials1.png);
  background-repeat:no-repeat;
  padding-top: 85px;
}
.featured_customer{
  width: 700px;
  .feedback-item {
    color: white;
    width: 700px;
    list-style: none outside none;
    position: relative;
    .feedback-content{
      font-size: 18px;
      border: 1px solid rgba(255,255,255,1);
      border-bottom:0;
    }
    .feedback-content:before{
      width:79px;
      border-bottom: 1px solid rgba(255,255,255,1);
      border-left: 1px solid rgba(255,255,255,1);
    }
    .feedback-content:after{
      width:594px;
      border-bottom: 1px solid rgba(255,255,255,1);
      border-right: 1px solid rgba(255,255,255,1);
    }
    .feedback-content .feedback-arrow{
      border-left: 1px solid rgba(255,255,255,1);
      border-bottom: 1px solid rgba(255,255,255,1);
    }
  }
}

.tour-box-1{
  height: 580px;
  background-image: url(tourBase.png);
  background-repeat:no-repeat;
  padding-top: 40px;
  p{
    font-weight: bold;
  }
}
.tour-box-2{
  .col-xs-6{
    padding-left: 30px;
    padding-right: 30px;
  }
  .bx-viewport{
    height: 371px!important;
  }
}
.pricing-box{
  background-image: url(pricingBase.png);
  background-repeat:no-repeat;
  padding-top: 50px;

  .strap-line {
    font-size: 24px;
    color: white;
    margin-bottom: 70px!important;
  }
  .div-plan {
    margin: auto;
  }
}
.pricing-vs-div{
  width: 100%;
  .circle-image{
    padding: 12px 5px;
    position: relative;
    margin-bottom: 15px;
    p{
      font-weight: bold;
      color: white;
      position: absolute;
      top: 34px;
      left: 24px;
    }
  }
  .input-info{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 780px;
    display: inline-block;
    .div-inline{
      width: 30%;
      padding-right: 8px;
      padding-left: 8px;
      float: left;
    }
    .input-group{
      .input-group-addon{
        background-color: #fff;
        width: 40px;
        height: 34px;
      }
    }
    input,button{
      height: 36px;
    }
    .selectpicker{
      padding-left: 30px;
    }
    .select-addon{
      left: 10px;
      position: absolute;
    }
  }
  .div-vs{
    width: 100%;
    margin-bottom: 60px;
    .col-xs-6{
      padding: 30px;
    }
    .comparison-slider {
      height: 100px;
      padding-left: 30px;
    }
    .slider-range{
      margin-top: 45px;
      position: relative;
    }
    .range{
      position: absolute;
    }
    .month1{
      left: 18%;
    }
    .month2{
      left: 45%;
    }
    .month3{
      left: 72%;
    }
    .dev1{
      left: 13%;
    }
    .dev2{
      left: 29%;
    }
    .dev3{
      left: 47%;
    }   
    .dev4{
      left: 64%;
    }  
    .dev5{
      left: 81%;
    }          
  }
}
.pricing-bad-hire,.pricing-good-hire{
  color: white;
  border-radius: 5px;
  height: 300px;
  padding-top: 60px;
  font-size: 20px;
}
.pricing-bad-hire{
  @include make-md-column(5);
  background-color: red;
  div span, div b{
    vertical-align: middle;
  }
}
.pricing-good-hire{
  @include make-md-column(5);
  @include make-md-column-offset(2);
  background-color: green;
}
.input-with-addon{
  position: relative;
  text-align: left;
  hr{
    position: absolute;
    border-color: #D2D5D6;
    left: 40px;
    border-width: 22px;
    width: 1px;
    top: -11px;
  }
  span{
    position: absolute;
    top: 6px;
    left: 18px;
  }
  input{
    padding-left: 50px;
  }
}
.blog-box-1{
  margin: 0px 5%;
  color: white;
  text-align: center;
  background-image: url(blogBase.png);
  background-repeat:no-repeat;
  padding-top: 5px;
  padding-bottom: 5px;
  h1{
    font-weight: bold;
  }
}
.blog-box-2{
    padding: 0px 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    strong {
      font-weight: 900;
    }
  .blog-item{
    overflow: hidden;
    margin-top: 25px;
    /* Maximum height math is:
       line-height * #oflines - 0.4
          the 0.4 offset is to make the cutoff  look nicer */
    .lines-3{height: 3.2em;}
    .lines-6{height: 6.8em;}
    .lines-12{height: 13.6em;}
    .lines-20{height: 22em;}
    .truncate {overflow: hidden; position:relative}
    .truncate:after{
      content:""; 
      height: 1em; 
      display: block; 
      width: 100%; 
      position:absolute;
      background-color:white; 
      opacity: 0.8; 
      bottom: -0.3em
    }
    ul {
      font-size: 18px;
      line-height: 1.5em;
      margin-top: -20px;
      li {
        list-style-type: none;
      }
    }
  }
  p, ol{
    margin-bottom: 1.7em;
    line-height: 1.5em;
    font-size: 18px;
  }
  p { 
    a{ color: #24b9f1; }
  }
  img{
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    float: left;
  }
}
.featured {
  .blog-box-2 {
    padding: 0;
  }

}
#loading-indicator{
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
}
.contact-box-1{
  height: 180px;
  color: white;
  text-align: center;
  background-image: url(contactBase.png);
  background-repeat:no-repeat;
  padding-top: 65px;
  font-size: 38px;
  p{
    font-weight: bold;
  }
}
.contact-box-2{
  padding: 100px 160px;
  .btn{
    font-size: 20px;
    color: white;
    background-color: #C9D0D3;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn:hover{
    background-color: #00AEEF;
  }
}
.contact-info{
  .circle-image{
    position: absolute;
    top: -10px;
    left: 15px;
  }
  .info{
    padding-left: 100px;
    font-size: 20px;
  }
  .one-line{
    padding-top: 15px;
  }
}
ul.parsley-error-list{
  list-style-type: none;
  padding-left: 2px;
  li{
    margin: 5px;
    color: #b94a48;
    font-size: smaller;
    text-align: left!important;
  }
}

input.parsley-error{
  border-color: #953b39;
}
.contact-box-3{
  text-align: center;
  background-color: #F3F3F3;
  
  padding-top: 60px;
  .our-team{
    display: inline-block;
    width: 720px;
    margin-top: 60px;
  }
  .member{
    width: 330px;
    position: relative;
  }
  .member-avatar{
    position: absolute;
  }
  .member-info{
    margin-left: 120px;
    text-align: left;
    padding-top: -50px;
    padding-bottom: 50px;
  }
}
.text-bold{
  font-weight: bold;
}
.alert{
  margin-bottom: 0px;
}
textarea {
    resize: none;
}
.author-box {
  background-color: rgb(245, 245, 245);
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  display: block;
  line-height: 25px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 75%;
}

.tutorial p {
  clear: both;
}

.product, .opt-in {
  background:#ddd;
  .container {
    max-width:1000px;
    padding-left: 70px;
    padding-right: 70px;
    background-color:white;
    -webkit-box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
    -moz-box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
    box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
  }
  ul,ol {
     font-size: 22px;
     line-height: 30px;
     font-weight: 200;
  }
   h1 {
       font-family: 'Yanone Kaffeesatz';
       font-weight: 400;
       font-size: 40px;
       text-transform: uppercase;
       letter-spacing: 2px;
   }

   h2 {
       font-family: 'Open Sans Condensed';
       font-weight: 600;
       font-size: 36px;
       clear: both;
   }
   h3 {
        font-family: 'Open Sans Condensed';
        font-weight: 700;
        font-size: 36px;
   }
   p {
     font-size: 22px;
     line-height: 40px;
     padding-top: 15px;
     font-weight: 200;
     clear: both;
     b {
        font-weight: 400;
      }
   }
   form {
    .clincher {
      font-size: 12px;
      line-height: 1.2em;
    }
   }
   
   .clients-words {
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    font-size: 18px;
   }
   
   .clients-name {
    font-weight: bold;
   }
   
   a {
    color:blue;
   }
  
  .ribbon {
    color: #ddd;
    background: rgba(20, 106, 123, 0.8);
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    z-index: 10000;

    a {
      color: #ddd;
      text-decoration: none;
    }
    a:hover{
      color: white;
      text-decoration: none;
    }
  }
  
  .testimonials blockquote {
    position: relative;
    background: white;
    min-height: 150px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 1px solid #ecedf1;
    line-height:150%;
    background-color: #e9fbf7;
    padding-bottom:35px;
    
  }
  .testimonials blockquote:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #ecedf1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }


  .testimonials blockquote img {
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid #ecedf1;
    background: white;
    bottom: -65px;
    left: 50%;
    margin-left: -25px;
  }

  blockquote p.clients-words {
      font-size: 14px;
  }
  span.clients-name {
    font-size: 14px;
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: 30px;
  }
  .packages {
    background-image: url(homebg1.png);
    background-repeat:repeat-y;
    color:white;
    padding: 40px;
  }
  .guarantee {
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
    -moz-box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
    box-shadow: 0px 0px 32px -3px rgba(143,143,143,0.66);
    padding:50px;
  }
  .guarantee-image {
    width:300px;
    height:300px;
    background-image: url(guarantee_red.png);
    background-size: 300px 300px;
    opacity: 0.1;
    position: absolute;
  }
  .guarantee-image-bold {
    float:left;
    width:300px;
    height:300px;
    background-image: url(guarantee_red.png);
    background-size: 300px 300px;
    position: relative;
  }
  .strike-price {
    font-size: 28pt;
    line-height:200%;
    text-decoration: strike-through;
    position: relative;
  }
  .strike-price:before {
    
    position: absolute;
    content: "    ";
    top: 50%;
    border-top: 3px solid;
    border-color: red;
    width:100px;

    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -o-transform:rotate(15deg);
    transform:rotate(15deg);
  }
  .early-bird-price {
    font-size: 72pt;
    line-height:100%;
    color: #e9fbf7;
    text-shadow: 2px 2px 21px rgba(150, 150, 150, 1);
  }
  .vat {
    display: inline-block;
    font-size: 28pt;
    line-height:150%;
  }
  
  .btn-warning {
    color: white;
    font-size: 20pt;
    background-color: darkorange;
    border-color: white;
  }
  .limited-time {
    color: green;
  }
  .worth {
    color: green;
  }
  
  @media (max-width: 768px) {
    .container {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
}



