@font-face {
  font-family: 'PT Sans';
  src: url('pts55f_w.eot');
  src: local('PT Sans'),
    url('PTS55F_W.woff') format('woff'),
    url('PTS55F_W.ttf') format('truetype'),
    url('PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {font-family: 'PT Sans';
  src: url('pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'),
    url('PTS75F_W.woff') format('woff'),
    url('PTS75F_W.ttf') format('truetype'),
    url('PTS75F_W.svg#PTSans-Bold') format('svg');
}
body {
  font-family: 'PT Sans';
  font-size: 16px;
}
.w-410{
  width: 410px;
}
.w-550{
  width: 550px;
}
.w-680{
  width: 680px;
}
.w-1340{
  width: 1340px;
}
.w-260{
  width: 260px!important;
}
.w-full{
  width: 100%;
}
.ph-0{
  padding-left: 0px;
  padding-right: 0px
}
.pb-60{
  padding-bottom: 60px;
}
.navbar-custom{
  background-color: #fff;
  border: none;
  margin-bottom: 0;
  min-height: 100px
}
.pl-100{
  padding-left: 100px;
}
.pr-200{
  padding-right: 200px;
}
#header{
  button{
    margin-top: 32px;
  }
  ul{
    position: relative;
  }
  li{
    margin-right: 50px;
  }
  #top-blue{
    -moz-transition: 0.3s left,right,width ease,0.3s width ease;
    -ms-transition: 0.3s left,right,width ease,0.3s width ease;
    -o-transition: 0.3s left,right,width ease,0.3s width ease;
    -webkit-transition: 0.3s left,right,width ease,0.3s width ease;
    transition: 0.3s left,right,width ease,0.3s width ease;
    position: absolute;
    background-color: #24B9F1;
    height: 5px;
    width: 0px;
    z-index: 1;
    left: 0px;
  }
  a{
    line-height: 100px;
    padding: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
  }
  .active > a, a:hover{
    background-color: #fff;
    color: #24B9F1
  }
}
.btn-grey{
  background-color: #333645;
  color: #fff;
}
.btn-grey:hover, .btn-grey:focus{
  background: #00aeef;
  color: #fff;
}
.btn-orange{
  background-color: #F47838;
  color: #fff;
}
.btn-orange:hover, .btn-orange:focus{
  background: #E36727;
  color: #fff;
}
.btn-blue{
  background-color: #00AEEF;
  color: #fff;
}
.btn-blue:hover, .btn-blue:focus{
  background: #33bef2;
  color: #fff;
}
.homepage-box-1{
  height: 520px;
  width: 1340px;
  background-image: url(homebg1.png);
  background-repeat:no-repeat;
}
.homepage-box-2{
  height: 850px;
  width: 1340px;
  background-image: url(homebg2.png);
  background-repeat:no-repeat;
  padding-top: 78px;
}
@media (max-width: 992px){
  .navbar-custom{
    min-height: 0;
  }
  #header a{
    line-height: 30px;
  }
  #top-blue{
    display: none;
  }
}
.ml-155{
  margin-left: 155px;
}
.mt-10{
  margin-top: 10px;
}
.mt-50{
  margin-top: 50px;
}
.mt-70{
  margin-top: 70px!important;
}
.mt-100{
  margin-top: 100px;
}
.mr-10{
  margin-right: 10px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-24{
  font-size: 24px;
}
.font-38{
  font-size: 38px;
}
.font-white{
  color: white;
}
.icon{
  display: inline-block;
  background-position: center
}
.icon-tick{
  width: 21px;
  height: 21px;
  background: url('Tick.png') no-repeat;
  margin-bottom: -5px;
  margin-right: 10px;
}
.icon-request{
  background: url('Request.png') no-repeat;
  width: 23px;
  height: 23px;
  margin-bottom: -7px;
  margin-right: 5px;
}
.icon-base{
  background: url('Base.png') no-repeat;
  width: 84px;
  height: 84px;
  position: relative;
  padding-top: 16px;
  font-size: 32px;
  margin: 0 auto 22px;
  display: block;
}
.icon-bad-hire{
  background: url('Bad_Hire.png') no-repeat;
  width: 84px;
  height: 84px;
  margin: 0 auto 22px;
  display: block;
}
.icon-colon{
  background: url('Colon.png') no-repeat;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 7px;
}
.icon-dev{
  background: url('Dev.png') no-repeat;
}
.icon-relationship{
  background: url('Relationship.png') no-repeat;
}
.icon-hand-shake{
  background: url('Hand_Shake.png') no-repeat;
  margin-bottom: -34px;
}
.icon-list{
  background: url('List.png') no-repeat;
  margin-bottom: -34px;
}
.icon-86{
  width: 86px;
  height: 86px;
}
.icon-happy-hire{
  background: url('Smile.png') no-repeat;
  width: 97px;
  height: 97px;
  margin: 0 auto;
}
.icon-slide-left{
  background: url('slide_left.png') no-repeat;
  width: 20px;
  height: 33px;
}
.icon-slide-left:hover{
  background: url('slide_left_hover.png') no-repeat;
}
.icon-slide-right{
  background: url('slide_right.png') no-repeat;
  width: 20px;
  height: 33px;
}
.icon-slide-right:hover{
  background: url('slide_right_hover.png') no-repeat;
}
.ph-35{
  padding-left: 35px;
  padding-right: 35px;
}
.pv-14{
  padding-top: 14px;
  padding-bottom: 14px;
}
.h-500{
  height: 500px;
}
.h-580{
  height: 580px;
}
.h-450{
  height: 450px;
}
.div-center{
  margin: auto;
}
.div-inline{
  display: inline-block;
}
.div-relative{
  position: relative;
}
.float-left{
  float: left;
}
.bad-hire-step{
  width: 180px;
  float: left;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}
.bad-hire{
  display: inline-block;
  margin: 0 auto;
}
.colons-div{
  position: absolute;
  width: 72px;
  top: 33px;
  left: 150px;
}
.pt-75{
  margin-top: 75px;
}
.pt-80{
  margin-top: 80px;
}
.mb-70{
  margin-bottom: 70px!important;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-40{
  margin-bottom: 40px;
}
.text-red{
  color: red;
}
.text-blue{
  color: #00AEEF;
}
.good-hire-div-1{
  font-size: 24px;
  width: 200px;
  margin: auto;
}
.good-hire-div-2{
  font-size: 24px;
  padding-top: 25px;
  display: inline-block;
  width: 350px;
}
.happy-hire-div{
  font-size: 24px;
  color: #00AEEF;
  float: left;
  text-align: center;
  margin: auto 90px;
}
.feedback-div{
  height: 300px;
  width: 960px;
  .icon-slide-left {
    margin-top: 120px;
  }
  .icon-slide-right {
    margin-top: -180px;
  }
  .feedback-slider {
    height: 400px;
  }
}
.feedback-div,
.feedback-list{
  .feedback-item {
    width: 480px!important;
    padding: 0 30px;
  }
}
.feedback-content {
  border: 1px solid #CCCCCC;
  position: relative;
  height: 140px;
  border-bottom:0;
  border-radius: 5px;
  padding: 20px 15px;
  text-align: left;
}
.feedback-content:before{
  content:'';
  width:79px;
  height:5px;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  position:absolute;
  bottom:0;
  left:-1px;
  border-bottom-left-radius:5px;
  top: 135px;
}
.feedback-content:after{
  content:'';
  width:312px;
  height:5px;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  position:absolute;
  bottom:0;
  right:-1px;
  border-bottom-right-radius:5px;
  top: 135px;
}
.feedback-content .feedback-arrow{
  content: '';
  height:15px;
  width:25px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  position:absolute;
  bottom:-10px;
  left:80px;
  top:132px;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.feedback-author {
  margin-top: 40px;
  text-align: left;
  .feedback-icon {
    float: left;
    margin-bottom: 10px;
  }
  .feedback-name {
    padding-top: 30px;
    font-weight: bold;
    margin-left: 150px;
    font-size: 24px;
  }
  .feedback-role {
    margin-left: 150px;
    color: #00AEEF;
  }
}
.feedback-list{
  padding-top: 80px;
  width: 960px;
  .feedback-item {
    float: left;
    list-style: none outside none;
    margin-bottom: 80px;
  }
}

.good-company{
  padding: 90px 0px;
  background-color: #F3F3F3;
}

.blue-text{
  color: #00AEEF;
}

.col-50-percent{
  width: 48%;
  float: left;
}

.col-5-percent{
  width: 20%;
  float: left;
}

.col-95-percent{
  width: 79%;
  float: left;
}

.circle-image{
  width: 80px;
  height: 80px;
  padding: 20px;
  background-color: #333645;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.font-24{
  font-size: 24px;
}

.benefit-section{
  padding: 0% 10%;
}
.margin-left-30{
  margin-left: 30px;
}

.padding-top-10{
  padding-top: 10px;
}

.trial-section{
  background-color: #00AEEF;
  padding: 80px 0px;
}

.white-text{
  color: white;
}

.day-text{
  color: #96D7EF;
}

.font-20{
  font-size: 20px;
}

.request-trial{
  padding: 10px 30px;
  border: 3px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.footer{
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #333645;
  height: 170px;
}

.icon-footer{
  display: inline-block;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.icon-fb{
  background: url("/assets/Fb.png") no-repeat;
}

.icon-tw{
  background: url("/assets/Twitter.png") no-repeat;
}

.icon-in{
  background: url("/assets/In.png") no-repeat;
}

.icon-fb:hover{
  background: url("/assets/Fb_Hover.png") no-repeat;
}

.icon-tw:hover{
  background: url("/assets/Twitter_Hover.png") no-repeat;
}

.icon-in:hover{
  background: url("/assets/In_Hover.png") no-repeat;
}

.logo{
  margin-top: -25px;
}

.copyright{
  color: #777B8D;
}

.ul-footer > li:hover > a{
  background-color: #333645!important;
  color: #777B8D;
}

.ul-footer > li > a{
  color: white;
}

.font-14{
  font-size: 14px;
}

.has-background{
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center;
}
.testimonials-box-1{
  height: 580px;
  width: 1340px;
  background-image: url(testimonials1.png);
  background-repeat:no-repeat;
  padding-top: 85px;
}
.featured_customer{
  width: 700px;
  .feedback-item {
    color: white;
    width: 700px;
    list-style: none outside none;
    position: relative;
    .feedback-content{
      font-size: 18px;
      border: 1px solid rgba(255,255,255,1);
      border-bottom:0;
    }
    .feedback-content:before{
      width:79px;
      border-bottom: 1px solid rgba(255,255,255,1);
      border-left: 1px solid rgba(255,255,255,1);
    }
    .feedback-content:after{
      width:594px;
      border-bottom: 1px solid rgba(255,255,255,1);
      border-right: 1px solid rgba(255,255,255,1);
    }
    .feedback-content .feedback-arrow{
      border-left: 1px solid rgba(255,255,255,1);
      border-bottom: 1px solid rgba(255,255,255,1);
    }
  }
}

.tour-box-1{
  height: 580px;
  width: 1340px;
  background-image: url(tourBase.png);
  background-repeat:no-repeat;
  padding-top: 40px;
  p{
    font-weight: bold;
  }
}
.tour-box-2{
  .col-xs-6{
    padding-left: 30px;
    padding-right: 30px;
  }
  .bx-viewport{
    height: 371px!important;
  }
}