%nav.navbar.navbar-default.navbar-custom{:role => "navigation"}
  .container-fluid.pl-100.font-38
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#header", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => root_path} 
        %img{:alt => "nujob", :height => "100",:src => "/assets/Logo_D.png", :id => "logo" }
    / Collect the nav links, forms, and other content for toggling
    #header.collapse.navbar-collapse.pull-right
      %ul.nav.navbar-nav
        #top-blue
        %li.default-active{class: active_link("home", params[:controller],params[:action])}
          %a{:href => root_path}= content_item("Header", "home_nav")
        %li{class: active_link("about", params[:controller],params[:action])}
          %a{:href => about_path}= content_item("Header", "about_nav")
        %li{class: active_link("products", params[:controller],params[:action])}
          %a{:href => products_path}= content_item("Header", "products_nav")
        %li{class: active_link("blog", params[:controller],params[:action])}
          %a{:href => blogs_path}= content_item("Header", "blog_nav")
:javascript
  moveTopBlue();
