!!!
%html
  %head
    %title N u j o b
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "prettystrap", name: "author"}/
  %header.navbar.navbar-fixed-top
    .inner-page
      %h2.logo NuJob
      #nav
        %ul.nav
          %li.active
            %a.scroll.brand-1{href: "#home", title: "Home page"} Home
          %li
            %a.scroll.brand-4{href: "#features", title: "Check out our awesome services"} Features
          %li
            %a.scroll.brand-1{href: "/blog" } Blog
  %body
    = yield
  %footer.page.color-5
    .inner-page.row-fluid
      .span6.social
        %a{href: "http://linkedin.com/a_nujob"}
          %i.icon-linkedin-sign
        %a{href: "http://twitter.com/a_nujob"}
          %i.icon-twitter
        %a{href: "http://github.com/a_nujob"}
          %i.icon-github-sign
        %a{href: "http://facebook.com/a_nujob"}
          %i.icon-facebook-sign
      .span6.text-right.copyright
        \© 2013 http://nujob.co.uk | all rights reserved |
        %a.scroll{href: "#top", title: "Got to top"}
          To top
          %i.icon-caret-up